@import url('../css/reset.css');

body{
    background-color: burlywood;
}

.inner{
    width: 90%;
    margin: auto;
}

.inner .header{
    background: url(../images/main_img02.png) no-repeat center;
    height: 30vw;
    position: relative;
}

.inner .header h2{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 85%;
}

.navbar .navbar_list{
    display: flex;
}
